body {
    background-color: whitesmoke;
    font-family: 'Arial', sans-serif;
}

.content-area {
    margin-left: var(--side-bar-width);
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ddd;
}

.table-hover tbody tr:hover {
    background-color: #f2f5ff;
}

.pagination {
    margin-top: 20px;
}

.pagination li {
    display: inline-block;
    margin-right: 5px;
}

.pagination li a, .pagination li span {
    padding: 10px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination li.active a {
    background-color: dodgerblue;
    color: white;
}

.pagination li.disabled span {
    color: #ddd;
}

.button-container {
    margin-top: 20px;
}

.button-container input {
    margin-right: 10px;
}

a.board-title {
    text-decoration: none;
    color: dimgrey;
}

a.board-title:hover {
    color: black;
}

.reply {
    color: blue;
    font-size: smaller;
    font-weight: bolder;
}

.header-container {
    background-color: white;
    text-align: right;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container img {
    width: auto;
    height: 80px;
    margin-top: 10px;
    margin-left: 100px;
}