.container {
    max-width: 560px;
    margin: 0 auto;
    padding-top: 20px;
}
.field-error {
    border-color: #dc3545;
    color: #dc3545;
}
.kakao_btn {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 5px;
}
.kakao_btn img {
    vertical-align: middle;
    height: 60px;
    object-fit: contain;
}
.social-login-box {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9;
}
.social-login-box p{
    color: grey;
    font-weight: bold;
}
.input-group {
    margin-bottom: 15px;
}
.input-group input[type=text],
.input-group input[type=password] {
    width: 100%;
}