<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.study.board.repository.AdminMapper">

    <select id="findAuthByUserId" resultType="org.study.board.dto.UserCtgAuth" parameterType="long">
        SELECT *
        FROM user_ctg_auth
        WHERE user_idx = #{idx}
    </select>

    <delete id="deleteAuth" parameterType="long">
        DELETE FROM user_ctg_auth
        WHERE user_idx = #{idx}
    </delete>

    <insert id="saveAuth" parameterType="java.util.List">
        INSERT INTO user_ctg_auth (user_idx, ctg_no, can_read, can_write, can_download)
        VALUES
        <foreach collection="auths" item="auth" separator=",">
            (#{auth.userIdx}, #{auth.ctgNo}, #{auth.canRead}, #{auth.canWrite}, #{auth.canDownload})
        </foreach>
    </insert>

    <select id="findAllCategories" resultType="org.study.board.dto.Category">
        SELECT *
        FROM ctg
        WHERE ctg_use_yn = 1
        ORDER BY ctg_sort
    </select>

    <update id="updateUser" parameterType="org.study.board.dto.User">
        UPDATE user
        SET username=#{username}
        WHERE userId = #{userId}
    </update>

    <select id="findAllUsers" resultType="org.study.board.dto.User">
        SELECT *
        FROM user
    </select>

    <select id="checkUserPermission" resultType="int">
        SELECT COUNT(*)
        FROM user_ctg_auth uca
                 JOIN ctg c ON uca.ctg_no = c.ctg_no
        WHERE uca.user_idx = #{userIdx}
          AND uca.ctg_no = #{ctgNo}
          AND (
                (#{permissionType} = 'READ' AND uca.can_read = true) OR
                (#{permissionType} = 'WRITE' AND uca.can_write = true) OR
                (#{permissionType} = 'DOWNLOAD' AND uca.can_download = true)
            )
    </select>
</mapper>