<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.study.board.repository.AdminMapper">

    <select id="findAuthByUserId" resultType="org.study.board.dto.UserCtgAuth" parameterType="long">
        SELECT user_idx AS userIdx, ctg_no AS ctgNo, can_read AS canRead, can_write AS canWrite
        FROM user_ctg_auth
        WHERE user_idx = #{idx}
    </select>

    <delete id="deleteAuth">
        DELETE FROM user_ctg_auth
    </delete>

    <insert id="saveAuth" parameterType="java.util.List">
        INSERT INTO user_ctg_auth (user_idx, ctg_no, can_read, can_write)
        VALUES
        <foreach collection="auths" item="auth" separator=",">
            (#{auth.userIdx}, #{auth.ctgNo}, #{auth.canRead}, #{auth.canWrite})
        </foreach>
        ON DUPLICATE KEY UPDATE can_read = VALUES(can_read), can_write = VALUES(can_write);
    </insert>

    <select id="findAllCategories" resultType="org.study.board.dto.Category">
        SELECT ctg_no AS ctgNo, ctg_nm AS ctgNm, ctg_sort AS ctgSort, ctg_use_yn AS ctgUseYn, ctg_pno AS ctgPno
        FROM ctg
    </select>

    <update id="updateUser" parameterType="org.study.board.dto.User">
        UPDATE user
        SET userId=#{userId}, username=#{username}
        WHERE userId = #{userId}
    </update>

    <select id="findAllUsers" resultType="org.study.board.dto.User">
        SELECT *
        FROM user
    </select>
</mapper>
