<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>인증 필요</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .container {
            margin-top: 50px;
        }
        .error-message {
            font-size: 1.5rem;
            color: #ff0000;
        }
    </style>
</head>
<body>
<div class="container text-center">
    <h1 class="error-message">인증 정보 없음</h1>
    <p>인증되지 않은 사용자입니다. 로그인 해주세요</p>
    <a th:href="@{/login}" class="btn btn-primary">로그인</a>
</div>
</body>
</html>
