<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/aside.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>
</head>
<body>
<header th:replace="thymeleaf/header :: header"></header>
<aside class="side-bar">
    <section class="side-bar__icon-box">
        <section class="side-bar__icon-1">
            <div></div>
            <div></div>
            <div></div>
        </section>
    </section>
    <ul>
        <li th:each="category : ${categories}">
            <a th:if="${category.ctgPno == '0'}" th:href="@{${category.url}}">
                <span><i class="fa-solid fa-cat"></i></span>
                <span th:text="${category.ctgNm}">카테고리 이름</span>
            </a>
            <ul th:if="${subCategoriesMap[category.ctgNo] != null}">
                <li th:each="subCategory : ${subCategoriesMap[category.ctgNo]}">
                    <a th:href="@{${subCategory.url}}" th:text="${subCategory.ctgNm}">서브카테고리 이름</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- 로그인/로그아웃 버튼 추가 -->
    <div class="side-bar__login">
        <div th:if="${user != null}" class="text-center">
            <span th:text="${username}">ㅇㅇㅇ</span> 님 환영합니다!<br><br>
        </div>
        <div th:if="${user != null}" class="text-center">
            <!-- 사용자가 로그인한 경우 -->
            <input type="button" value="마이페이지" th:attr="onclick=|location.href='/mypage/' + '${user.userId}'|" class="btn btn-success">
            <input type="button" value="로그아웃" onclick="location.href='/logout'" class="btn btn-danger">
        </div>
        <div th:if="${user == null}" class="text-center">
            <!-- 사용자가 로그인하지 않은 경우 -->
            <input type="button" value="로그인" onclick="location.href='/login'" class="btn btn-primary">
            <input type="button" value="회원가입" onclick="location.href='/join'" class="btn btn-success">
        </div>
    </div>
</aside>
<div class="content-area">
    <div class="py-5 text-center">
        <h1 th:text="${boardType == 0 ? '공지사항 게시판' : 'QnA 게시판'}"></h1>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="one wide">번호</th>
            <th class="ten wide">글제목</th>
            <th class="two wide">작성자</th>
            <th class="three wide">작성일</th>
            <th class="four wide">조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board : ${board}">
            <td th:text="${board.bno}">1</td>
            <td>
                <a th:href="@{board/{bno}(bno=${board.bno})}" class="board-title">
                    <span th:if="${board.depth > 0}" th:each="i : ${#numbers.sequence(1, board.depth)}" class="reply">&nbsp;↪RE:</span>
                    <span th:text="${board.title}">제목</span>
                    <span th:if="${board.new}" class="new">🆕</span>
                </a>
            </td>
            <td th:text="${board.writer}">작성자</td>
            <td th:text="${board.regdate}">작성일</td>
            <td th:text="${board.hit}">조회수</td>
        </tr>
        </tbody>
    </table>
    <div class="button-container text-center">
        <div th:if="${hasWritePermission}">
            <input type="button" value="글 작성" onclick="location.href='write'" class="btn btn-primary">
        </div>
    </div>
    <div class="col-sm-12 col-md-7 mx-auto">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${paginate.pageNo <= 1} ? 'disabled'">
                    <a class="page-link" th:if="${paginate.pageNo > 1}" th:href="@{|/${boardType}/main?${paginate.params}&${paginate.pageName}=${paginate.pageNo - 1}|}" aria-label="Previous">
                        <span aria-hidden="true">&laquo; 이전</span>
                    </a>
                    <a class="page-link disabled" th:if="${paginate.pageNo <= 1}">
                        <span aria-hidden="true">&laquo; 이전</span>
                    </a>
                </li>
                <li th:each="pageNum : ${#numbers.sequence(paginate.nationBegin, paginate.nationClose)}" class="page-item" th:classappend="${pageNum == paginate.pageNo} ? 'active'">
                    <a class="page-link" th:href="@{|/${boardType}/main?${paginate.params}&${paginate.pageName}=${pageNum}|}" th:text="${pageNum}">1</a>
                </li>
                <li class="page-item" th:classappend="${paginate.pageNo >= paginate.totalPage} ? 'disabled'">
                    <a class="page-link" th:if="${paginate.pageNo < paginate.totalPage}" th:href="@{|/${boardType}/main?${paginate.params}&${paginate.pageName}=${paginate.pageNo + 1}|}" aria-label="Next">
                        <span aria-hidden="true">다음 &raquo;</span>
                    </a>
                    <a class="page-link disabled" th:if="${paginate.pageNo >= paginate.totalPage}">
                        <span aria-hidden="true">다음 &raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>