<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 메인 - 타임리프</title>
    <style>
        .button-container {
            margin-top: 20px;
        }
        .button-container input {
            margin-right: 10px;
        }
        a.board-title {
            text-decoration: none;
            color:dimgrey;
        }
        a.board-title:hover {
            color: black;
        }
        .reply {
            color: blue;
            font-size: smaller;
            font-weight: bolder;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/aside.css">
</head>
</head>
<body>
<aside class="side-bar">
    <section class="side-bar__icon-box">
        <section class="side-bar__icon-1">
            <div></div>
            <div></div>
            <div></div>
        </section>
    </section>
    <ul>
        <li>
            <a th:href="@{/user/main}">
                <span><i class="fa-solid fa-cat"></i></span>
                <span>회원 관리</span>
            </a>
            <ul>
                <li><a th:href="@{/user/main}">회원 목록</a></li>
            </ul>
        </li>
        <li>
            <a th:href="@{/main}">
                <span><i class="fa-solid fa-dragon"></i></span>
                <span>게시판 관리</span>
            </a>
            <ul>
                <li><a th:href="@{/0/main}">공지사항 게시판</a></li>
                <li><a th:href="@{/1/main}">QnA 게시판</a></li>
            </ul>
        </li>
    </ul>
    <!-- 로그인/로그아웃 버튼 추가 -->
    <div class="side-bar__login">
        <div th:if="${#httpServletRequest.remoteUser != null}" class="text-center">
            <span th:text="${#httpServletRequest.remoteUser}">ㅇㅇㅇ</span> 님 환영합니다!<br><br>
        </div>
        <div th:if="${#httpServletRequest.remoteUser != null}" class="text-center">
            <!-- 사용자가 로그인한 경우 -->
            <input type="button" value="로그아웃" onclick="location.href='/logout'" class="btn btn-danger">
        </div>
        <div th:if="${#httpServletRequest.remoteUser == null}" class="text-center">
            <!-- 사용자가 로그인하지 않은 경우 -->
            <input type="button" value="로그인" onclick="location.href='/login'" class="btn btn-primary">
            <input type="button" value="회원가입" onclick="location.href='/join'" class="btn btn-success">
        </div>
    </div>
</aside>
<div class="content-area">
<div th:if="${boardType==0}">
    <div class="py-5 text-center">
        <h1>공지사항 게시판</h1>
    </div>
</div>
<div th:if="${boardType==1}">
    <div class="py-5 text-center">
        <h1>QnA 게시판</h1>
    </div>
</div>

<!--게시판 총 <span th:text="${cntBoard}">0</span> 개<br>-->
<table>
    <thead>
    <tr>
        <th class="one wide">번호</th>
        <th class="ten wide">글제목</th>
        <th class="two wide">작성자</th>
        <th class="three wide">작성일</th>
        <th class="four wide">조회수</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="board : ${board}">
        <td><span th:text="${board.bno}">1</span></td>
        <td>
            <a th:href="@{board/{bno}(bno=${board.bno})}"  class="board-title">
                <span th:if="${board.depth > 0}" th:each="i : ${#numbers.sequence(1, board.depth)}" class="reply">&nbsp;↪RE:</span>
                <span th:text="${board.title}">제목</span>
                <span th:if="${board.new}" class="new">🆕</span>
            </a>
        </td>
        <td><span th:text="${board.writer}">작성자</span></td>
        <td><span th:text="${board.regdate}">작성일</span></td>
        <td><span th:text="${board.hit}">조회수</span></td>
    </tr>
    </tbody>
</table>
    <div class="button-container">
        <div th:if="${#httpServletRequest.remoteUser != null}">
            <!-- 사용자가 로그인한 경우 -->
            <input type="button" value="글 작성" onclick="location.href='write'" class="btn btn-primary">
        </div>
    </div>
<br>
<!-- 페이징 처리 시작 -->
<div class="col-sm-12 col-md-7" style="margin: auto">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li th:if="${paginate != null}">
                <!-- 이전 페이지 링크 -->
            <li class="page-item" th:classappend="${paginate.nationBegin <= 1} ? 'disabled'">
                <a class="page-link" th:if="${paginate.nationBegin > 1}" th:href="@{'/' + ${boardType} + '/main' + '?' + ${paginate.params} + '&' + ${paginate.pageName} + '=' + (${paginate.nationBegin - 1})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo; 이전</span>
                </a>
                <a class="page-link disabled" th:if="${paginate.nationBegin <= 1}">
                    <span aria-hidden="true">&laquo; 이전</span>
                </a>
            </li>

            <!-- 페이지 번호 링크 -->
            <li th:each="pageNum : ${#numbers.sequence(paginate.nationBegin, paginate.nationClose)}" class="page-item" th:classappend="${pageNum == paginate.pageNo} ? 'active'">
                <a class="page-link" th:href="@{'/' + ${boardType} + '/main' + '?' + ${paginate.params} + '&' + ${paginate.pageName} + '=' + ${pageNum}}" th:text="${pageNum}">1</a>
            </li>

            <!-- 다음 페이지 링크 -->
            <li class="page-item" th:classappend="${paginate.nationClose >= paginate.totalPage} ? 'disabled'">
                <a class="page-link" th:if="${paginate.nationClose < paginate.totalPage}" th:href="@{'/' + ${boardType} + '/main' + '?' + ${paginate.params} + '&' + ${paginate.pageName} + '=' + (${paginate.nationClose + 1})}" aria-label="Next">
                    <span aria-hidden="true">다음 &raquo;</span>
                </a>
                <a class="page-link disabled" th:if="${paginate.nationClose >= paginate.totalPage}">
                    <span aria-hidden="true">다음 &raquo;</span>
                </a>
            </li>
            </li>
        </ul>
    </nav>
</div>
</div>
</body>
</html>