<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>글 상세</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/aside.css">
    <link rel="stylesheet" href="/css/layout.css">
    <style>
        .ck-editor__editable { height: 500px; }
        .ck-content { font-size: 13px; }
        .ck-editor__editable p {margin: 0}
    </style>
</head>
<body>
<div th:if="${board.bno}">
    <div class="py-5 text-center">
        <h2>글 상세</h2>
    </div>
</div>
<div th:if="${board.bno==null}">
    <div class="py-5 text-center">
        <h2>글 작성</h2>
    </div>
</div>
<!-- 상위 글들을 출력하는 부분 -->
<div th:each="parent : ${parentBoards}" class="related-posts" onclick="navigateToLink(this)">
    <a th:href="@{/1/board/{bno}(bno=${parent.bno})}" class="link">이전 글</a>
    <h3 th:text="${parent.title}"></h3>
    <p th:text="'작성자: ' + ${parent.writer}"></p>
    <p th:text="${parent.content}"></p>
</div>

<div class="container mt-5">
    <form id="boardForm" method="post" th:action="@{'/' + ${board.boardType} + '/insertBoard'}" onsubmit="return validateForm()">
        <div class="form-group row">
            <label for="writer" class="col-sm-2 col-form-label text-right">작성자</label>
            <div class="col-sm-10">
                <p id="writer" class="form-control-plaintext" th:text="${board.writer ?: user}">사용자</p>
                <input type="hidden" id="userIdx" name="userIdx" th:value="${board.userIdx}">
            </div>
        </div>
        <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label text-right">제목</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" th:value="${board.title}">
            </div>
        </div>
        <div class="form-group row">
            <label for="content" class="col-sm-2 col-form-label text-right">내용</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="content" name="content" rows="6" th:text="${board.content}"></textarea>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <input type="hidden" name="bno" th:value="${board.bno}">
            <input type="hidden" name="boardType" th:value="${board.boardType}">
            <input type="hidden" name="gno" th:value="${board.gno}">
            <input type="hidden" name="sorts" th:value="${board.sorts}">
            <input type="hidden" name="depth" th:value="${board.depth}">
            <input type="hidden" name="parentBno" th:value="${board.parentBno}">
            <div class="col-sm-10 text-right">
                <button type="submit" th:if="${board.boardType==0 or board.bno==null or hasChildBoards != null and !hasChildBoards}" class="btn btn-primary" onclick="return confirm('등록하시겠습니까?')">등록</button>
                <button type="button" th:onclick="'location.href=\'/' + ${board.boardType} + '/main\''" class="btn btn-success">취소</button>
                <button type="button" th:if="${board.bno}" onclick="return confirmDelete()" class="btn btn-danger">삭제</button>
                <button type="button" th:if="${board.bno != null and board.boardType == 1}" th:onclick="'return confirmReply(\'/1/write?parentBno=' + ${board.bno} + '\')'" class="btn btn-primary">답변글쓰기</button>
            </div>
        </div>
    </form>
</div>

<!-- 하위 글들을 출력하는 부분 -->
<div th:each="child : ${childBoards}" class="related-posts" onclick="navigateToLink(this)">
    <input type="hidden" name="bno" th:value="${child.bno}">
    <a th:href="@{/1/board/{bno}(bno=${child.bno})}" class="link">↪RE:</a>
    <h3 th:text="${child.title}"></h3>
    <p th:text="'작성자: ' + ${child.writer}"></p>
    <p th:text="${child.content}"></p>
</div>

<script>
    /*상하위 링크 연결*/
    function navigateToLink(element) {
        const link = element.querySelector('a.link');
        if (link) {
            window.location.href = link.href;
        }
    }

    function validateForm() {
        var title = document.getElementById("title").value.trim();
        var content = document.getElementById("content").value.trim();

        if (title === '' || content === '') {
            alert('제목과 내용을 입력해주세요.');
            return false;
        }

        return true;
    }

    ClassicEditor
        .create(document.querySelector('#content'), {
            language: 'ko',
            ckfinder: {
                uploadUrl: '/uploadImage'
            }
        })
        .then(editor => {
            console.log('Editor was initialized', editor);
        })
        .catch(error => {
            console.error('Editor initialization error', error);
        });

    function confirmDelete() {
        if (confirm("정말 삭제하시겠습니까?")) {
            deleteBoard();
        }
        return false;
    }

    function confirmReply(url) {
        if (confirm("답변 글을 작성하시겠습니까?")) {
            window.location.href = url;
        }
        return false;
    }

    // 글 삭제
    function deleteBoard() {
        const bno = document.getElementsByName("bno")[0].value;
        const boardType = document.getElementsByName("boardType")[0].value;
        fetch(`/${boardType}/delete/${bno}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (response.ok) {
                    alert("삭제되었습니다.");
                    location.href = `/${boardType}/main`;
                } else {
                    alert("삭제에 실패하였습니다.");
                }
            })
            .catch(error => {
                console.error("Error:", error);
                alert("삭제 중 오류가 발생하였습니다.");
            });
    }
</script>
</body>
</html>
